.section{

    &__page{
 
        & .title{
            font-size: 24px;
            line-height: 31px;
            @include min-responsive($md){
                text-align: left;
                font-size: 48px;
                line-height: 62px;
            }
        }

        & .section__feed__item {

            &:nth-child(4){

                hr{
                   height: 1px;
                }
            }
        }

        &--article{

            & .section__img{
                height:330px;
                @include min-responsive($md){
                    height: 650px;
                }
            }

            & .section__text{
                h3{
                    font-size: 30px;
                    line-height: 130%;
                }
                p{
                    font-size: 18px;
                }
            }

            & .tag{
               
                span{
                    font-weight: 500;
                    font-size: 14px;
                }
                ul{

                    li{

                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }


}