.section{
 
    &__page{
        color: $color__gray;

        & .title{
            font-size: 24px;
            line-height: 31px;
            @include min-responsive($md){
                text-align: left;
                font-size: 48px;
                line-height: 62px;
            }
        }

        & .section__feed__item {

            &:nth-child(4){

                hr{
                   height: 1px;
                }
            }
        }

        &--article{

            & .section__img{
                height:330px;
                @include min-responsive($md){
                    height: 650px;
                }
            }

            & .section__text{
                h3{
                    font-size: 30px;
                    line-height: 130%;
                }
                p{
                    //font-size: 16px;
                    
                    @include min-responsive($md){
                        font-size: 18px;
                    }
                }

                &--head{
                    p{
                        font-size: 18px;
                    }
                }

                &--content{
                    line-height: 24px;
                    p{
                        line-height: 24px;
                    }
                    & > p:first-child:first-letter {
                        float: left;                       
                        font-size: 82px;
                        padding-top: 25px;
                        padding-right: 5px;
                        @extend .font2;
                    }
                    blockquote,
                    q{
                        @extend .font2;
                        font-size: 36px;
                        line-height: 130%;
                        margin: 50px 0;
                        padding: 75px 0 50px 0;
                        text-align: center;
                        border-top:1px solid  $color__gray2;
                        border-bottom:1px solid  $color__gray2;                   
                        background-repeat: no-repeat;
                        background-position: left 30px;
                        h2{
                            font-size: 24px;
                            line-height: 130%;
                        }
                        h5{
                            font-size: 14px;
                            margin-top: 20px;
                        }
                    }
                    figure{
                        padding: 0;
                        margin: 30px 0;

                        & figcaption{
                            font-size: 12px;
                            line-height: 130%;
                            margin: 5px 0;
                            @extend .color__gray4;
                        }
                    }

                    ul { 
                        list-style-type: disc;
                     }
                     ol { 
                        list-style-type: decimal; 
                     }
                     ul li{ 
                        list-style-type: disc; 
                        margin-left: 30px;
                        display: list-item;
                     }
                     ol li{ 
                        list-style-type: decimal; 
                        margin-left: 30px; 
                        display: list-item;
                     }
                }
            }

            & .tag{
               
                span{
                    font-weight: 500;
                    font-size: 14px;
                }
                ul{

                    li{

                        a{
                            font-size: 14px;
                        }
                    }
                }
            }

            & .infoMore{

                strong{
                    display: block;
                    cursor: pointer;
                }

                p{
                    margin:0;
                }

                ul{
                    display: none;
                    li{
                        @extend .color__gray4;
                        border-bottom:1px solid  $color__gray2;  

                        &:last-child{
                            border-bottom: none;
                        }

                        a{
                            display: block;
                            text-decoration: underline;
                        }
                    }
                }

                &__book{
                    max-height: 240px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding-bottom: 100px;
                }  
                
                & .bg{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100px;
                    display: block;
                }
            }
        }

        & .sliderGalery{

            & > div{
                height: 155px;
               
                @include min-responsive($md){
                    height: 415px;                   
                }
                
                img{
                    width: auto;
                    height: 100%;
                    max-height: 100%;
                    max-width: none;

                    @include min-responsive($md){
                        // width: 100%;
                        // height: 100%;
                        // object-position: 50% 50%;
                        // -o-object-fit: cover;
                        // object-fit: cover;
                    }

                }
            }
        }

        & .artikel-terkait{
            border-left: 1px solid $color__gray8 !important;
            border-bottom: 1px solid $color__gray8 !important;
            border-right: 1px solid $color__gray8 !important;
            h5{
                @extend .font1;
                font-size: 18px;
            }
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                li{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    border-bottom: 1px solid $color__gray8 !important;
                    small,p{
                        font-size: 14px;
                        margin: 0;                        
                    }
                }
            }
            a{
                text-decoration: none;
                color: $color__gray !important;
                display: block;
            }
        }
        & .qa{
            text-align: center;
            border-top:1px solid  $color__gray2;
            border-bottom:1px solid  $color__gray2;    
            
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                li{

                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    span{
                        font-size: 16px;
                        line-height: 150%;
                        display: block;
                        color: #000 !important; 
                    }
                    &.font2{
                        span{
                          font-weight: 700;
                            
                        }
                    }
                    &.font1{
                        
                    }

                    

                }
            }
            a{
                text-decoration: none;
                color: $color__gray !important;
                display: block;
            }

        }
    }


}